<div class="header">
  <img class="logo" [src]=logo>

  <div class="title-container">
    <div class="title">
      <span class="titleBlack">[</span>
      <span class="titleHighlight">RE</span>
      <span class="titleBlack">]</span>
      <span class="titleSpace">mind</span>
      <span class="titleBlack">[</span>
      <span class="titleHighlight">MY</span>
      <span class="titleBlack">]</span>
      <span>self</span>
    </div>
  </div>

  <div class="navigation-container">
    <div class="navigation">
      <a routerLinkActive="active" routerLink="/baby">Baby</a>
      <a routerLinkActive="active" routerLink="/books">Bücher</a>
      <a routerLinkActive="active" routerLink="/movies">Filme</a>
      <a routerLinkActive="active" routerLink="/series">Serien</a>
      <a routerLinkActive="active" routerLink="/music">Musik</a>
    </div>
  </div>
</div>
