<div class="header">
  <img class="logo" [src]=logo>

  <div class="title-container">
    <div class="title">
      <a routerLink="/">
        <span class="titleBlack">[</span>
        <span class="titleHighlight">RE</span>
        <span class="titleBlack">]</span>
        <span class="titleSpace">mind</span>
        <span class="titleBlack">[</span>
        <span class="titleHighlight">MY</span>
        <span class="titleBlack">]</span>
        <span>self</span>
      </a>
    </div>
  </div>

  <div class="navigation-container">
    <div class="navigation">
      <a routerLinkActive="active" routerLink="/baby-clothing">Kleidung</a>
      <a routerLinkActive="active" routerLink="/baby-equipment">Equipment</a>
      <a routerLinkActive="active" routerLink="/baby-furniture">Möbel</a>
      <a routerLinkActive="active" routerLink="/baby-toys">Spielzeug</a>
    </div>
  </div>
</div>
