* {
  background-color: #FFC89A;
}

.header {
  display: flex;
  justify-content: left;
}

.logo {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  padding-top: 1em;
  padding-bottom: 0.8em;
  width: 100px;
}

.title-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.title {
  color: #9AD1FF;
  font-size: 130%;
  background-color: #FFC89A;
  text-shadow: 0px 0px 2px #000000, 0px 0px 3px #2B3038;
}

.titleHighlight {
  color: #FFA55A;
  font-size: 230%;
  text-align: center;
}

.titleBlack {
  color: #2B3038;
  font-size: 270%;
  text-shadow: none;
}

.titleSpace {
  padding-right: 0.6em;
}

.navigation-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navigation {
  padding: 1.7em 1em 1em 1em;
  margin: 1em;
}

.active {
  background-color: #FFA55A;
}

.navigation a {
  color: #9AD1FF;
  text-shadow: 0px 0px 2px #000000, 0px 0px 3px #2B3038;
  padding: 1em 2.5em;
}

.navigation a {
  border-left: 1px solid #2B3038;
}

.navigation a:last-child {
  border-right: 1px solid #2B3038;
}

.navigation a:hover {
  color: #FFA55A;
  text-decoration: none;
  background-color: #A8AEB7;
  text-shadow: 0px 0px 2px #000000, 0px 0px 3px #2B3038;
}
