main {
  background-color: #E6F3FF;
}

.intro {
  background-color: #9AD1FF;
  padding: 0.5em 0.5em 0 0.5em;
  border-top: 1px solid #2B3038;
  border-bottom: 1px solid #2B3038;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
}

.item-filter {
  flex: 10%;
  min-width: 150px;
  background-color: #E6F3FF;
}

.item-list {
  flex: 90%;
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFFFFF;
  border: 1px solid #FFC89A;
  padding: 3px;
  margin: 5px;
  border-radius: 3px;
  max-width: 300px;
  overflow: hidden;
}

.item-img-bg {
  display: flex;
  background-color: #FFFFFF;
  height: 300px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.item-img {
  width: 100%;
  height: auto;
  max-width: 250px;
  max-height: 250px;
  object-fit: cover;
}

.item-info {
  display: flexbox;
  flex-wrap: wrap;
  padding: 2px 3px 1px 3px;
  margin: 2px 3px 1px 3px;
}

.item-title {
  border-top: 1px solid #FFC89A;
  height: 4em;
  margin: 1em 0;
  padding: 1em 0;
}

.item-table {
  width: 100%;
  text-align: left;
  margin-bottom: 5px;
}

.item-table td {
  width: 50%;
  padding: 10px 8px 3px 8px;
}

.item-table tr:nth-child(odd) {
  background-color: #FFCFA9;
}

.item-table tr:nth-child(even) {
  background-color: #FFDBBE;
}
