<main>
  <div class="intro">
    <h1>Alle Artikel</h1>
  </div>

  <div class="item-list">
    <div class="item-card" *ngFor="let item of loadedItems">
      <div class="item-info">
        <div class="item-img-bg">
          <img src="{{ item.picture }}" class="item-img" alt="Cover for {{ item.title }}">
        </div>
        <h5 class="item-title">{{ item.title }}</h5>
        <!--<h6 *ngIf="item.description !== ''">({{ item.description }})</h6>-->
        <table class="item-table">
          <tr *ngIf="item.manufacturer !== ''">
            <td><h6>Hersteller:</h6></td>
            <td><h6 item="item-tb-details">{{ item.manufacturer }}</h6></td>
          </tr>
          <tr *ngIf="item.manufacturerId !== ''">
            <td><h6>Hersteller-Nr.:</h6></td>
            <td><h6 class="item-tb-details">{{ item.manufacturerId }}</h6></td>
          </tr>
          <tr *ngIf="item.size !== ''">
            <td><h6>Größe:</h6></td>
            <td><h6 class="item-tb-details">{{ item.size }}</h6></td>
          </tr>
          <tr *ngIf="item.weight !== ''">
            <td><h6>Gewicht:</h6></td>
            <td><h6 class="item-tb-details">{{ item.weight }}</h6></td>
          </tr>
          <tr *ngIf="item.color !== ''">
            <td><h6>Farbe:</h6></td>
            <td><h6 class="item-tb-details">{{ item.color }}</h6></td>
          </tr>
          <tr *ngIf="item.material !== ''">
            <td><h6>Material:</h6></td>
            <td><h6 class="item-tb-details">{{ item.material }}</h6></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</main>
