main {
  background-color: #EAFBFB;
  border: 1px solid #000000;
}

.intro {
  background-color: #C3D2D2;
  padding: 0.5em 0.5em 0 0.5em;
  border-bottom: 1px solid #000000;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #FFC89A;
  padding: 3px;
  margin: 5px;
  border-radius: 3px;
  max-width: 300px;
  overflow: hidden;
}

.item-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.item-info {
  display: flexbox;
  flex-wrap: wrap;
  padding: 2px 3px 1px 3px;
  margin: 2px 3px 1px 3px;
}

.item-title {
  margin: 10px 0;
}

.item-table {
  width: 100%;
  text-align: left;
}

.item-table td {
  width: 50%;
  padding: 10px 8px 3px 8px;
}

.item-table tr:nth-child(odd) {
  background-color: #FFCFA9;
}

.item-table tr:nth-child(even) {
  background-color: #FFDBBE;
}
