h1 {
    color: #336699;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
}

h2, h3 {
    color: #444444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

body {
    margin: 2em;
}

body, input[type="text"], button {
    color: #333333;
    font-family: Cambria, Georgia;
}

* {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

.title {
    color: #336699;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
    background-color: #c9c9c9;
    text-shadow: 1px 2px black;
}

.titleHighlight {
    color: #ff7700;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    text-align: center;
}

.titleBlack {
    color: #111111;
    font-family: Arial, Helvetica, sans-serif;
}