* {
  font-family: 'Baloo Chettan 2';
}

.header {
  min-width: 380px;
}

.content {
  background-color: #E6F3FF;
  min-height: calc(100vh - 80px);
  min-width: 380px;
}

.footer {
  background-color: #FFC89A;
  color: #9AD1FF;
  text-align: center;
  text-shadow: 0px 0px 2px #000000, 0px 0px 3px #2B3038;
  height: 80px;
  padding-top: 1.2em;
  padding-bottom: 0.5em;
  border-top: 1px solid #2B3038;
}
