<div class="intro">
  <h3>Möbel, Dekoration und Zubehör</h3>
</div>

<main>
  <div class="item-container" *ngFor="let item of loadedItems">
    <div class="item-card" *ngIf="item.subcategory == 'Furniture'">
      <div class="item-image">
        <img src="{{ item.picture }}" class="item-img" alt="Cover for {{ item.title }}">
      </div>
      <div class="item-content">
        <div class="item-info">
          <h3>{{ item.title }}</h3>
          <div *ngIf="item.manufacturer !== ''">
            <p><span>Hersteller:</span></p>
            <p>{{ item.manufacturer }}</p>
          </div>
          <div *ngIf="item.manufacturerId !== ''">
            <p><span>Hersteller-Nr.:</span></p>
            <p>{{ item.manufacturerId }}</p>
          </div>
          <div *ngIf="item.size !== ''">
            <p><span>Größe:</span></p>
            <p>{{ item.size }}</p>
          </div>
          <div *ngIf="item.weight !== ''">
            <p><span>Gewicht:</span></p>
            <p>{{ item.weight }}</p>
          </div>
          <div *ngIf="item.color !== ''">
            <p><span>Farbe:</span></p>
            <p>{{ item.color }}</p>
          </div>
          <div *ngIf="item.material !== ''">
            <p><span>Material:</span></p>
            <p>{{ item.material }}</p>
          </div>
          <div class="supplier-spacing" *ngIf="item.supplier !== ''">
            <p><span>Bestellt bei:</span></p>
            <p>{{ item.supplier }}</p>
          </div>
          <div class="link-spacing" *ngIf="item.supplierUrl !== ''">
            <a href="{{ item.supplierUrl }}" target="_blank">Link zum Artikel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
