<main>
    <div class="intro">
      <h1>Movie Collection</h1>
      <p>Listing all the movies you have added to your collection. Enjoy!</p>
    </div>

    <div class="item-list">
        <div class="item-card" *ngFor="let movie of movies">
            <div class="item-info">
            <img src="{{ movie.cover }}" class="item-img" alt="Cover for {{ movie.title }}">
                <h5 class="item-title">{{ movie.title }}</h5>
                <h6 class="item-title" *ngIf="movie.subtitle !== ''">({{ movie.subtitle }})</h6>
            </div>
        </div>
    </div>
</main>
