<header>
    <div class="collapse" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email me</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</header>

<main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>Movie Collection</h1>
        <p class="lead text-muted">Listing all the movies you have added to your collection. Enjoy!</p>
      </div>
    </section>
  
    <div class="card-deck">
        <div class="card" *ngFor="let movie of movies">
            <img src="{{ movie.cover }}" class="card-img-top rounded-lg" alt="Cover for {{ movie.title }}">
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <h6 class="card-title" *ngIf="movie.subtitle !== ''">({{ movie.subtitle }})</h6>
                <hr>
                <p class="card-text" *ngIf="movie.watched">Last watched: {{ movie.watchedDate }}</p>
            </div>
        </div>
    </div>
</main>