.item-list {
  display: flex;
  flex-wrap: wrap;
}

.item-card {
  display: flex;
  flex-wrap: wrap;
  background-color: #70FFFF;
  padding: 3px;
  margin: 5px;
  border-radius: 3px;
  max-width: 420px;
  overflow: hidden;
}

.item-img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.item-info {
  display: flexbox;
  flex-wrap: wrap;
}

.item-title {
  padding: 5px;
  margin: 5px;
}
