* {
  line-height: normal;
}

.intro, .content {
  padding: 0.5em 0.5em 0 0.5em;
}

.content {
  display: block;
  margin-top: 0.5em;
  min-width: 400px;
}

ul {
  list-style-type: square;
}

li {
  list-style-type: square;
}
