* {
  padding: 0px;
  margin: 0px;
}

main {
  width: calc(100vw - 335px);
  background-color: #E6F3FF;
}

.intro {
  background-color: #84B3DA;
  padding: 1em;
  margin-bottom: 0.1em;
}

.content {
  padding: 10px;
}

.content ul {
  padding-left: 25px;
}
