* {
  line-height: normal;
}

.intro, .content {
  padding: 0.5em 0.5em 0 0.5em;
}

.content {
  display: block;
  margin-top: 0.5em;
}

ul {
  list-style-type: square;
}

li {
  list-style-type: square;
}

.custom-shape-divider-top {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top .shape-fill {
  fill: #9AD1FF;
}

/*
responsive divider
*/
@media (max-width: 1023px) {
  .custom-shape-divider-top svg {
      width: calc(120% + 1.3px);
      height: 100px;
  }
}

@media (max-width: 767px) {
  .custom-shape-divider-top svg {
      width: calc(150% + 1.3px);
      height: 100px;
  }
}
